@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    padding: 15px;
    background-color: #141019;
    background: radial-gradient(at 50% -20%, #908392, #e6c1ec) fixed;
}

.contactform {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-left: 30vw;
    margin-right: 30vw;
    border: solid;
    box-sizing: border-box;
    /* border: solid 5px #FC5185;
    transition: border-width 0.1s linear; */

}

/* .contactform:hover {
    border-width: 10px;
} */